In [22]:
import pandas as pd

In [23]:
feeding_data = pd.read_csv(r"C:\Users\sarah\OneDrive - KU Leuven\Desktop\Data Visualization\Project\data\feeding_data.csv")
feeding_data.head()

,date,tattoo,pig,station,weight_start,weight_end,intake,start,end,hour,...,time_after,time_before_pig,time_after_pig,time_before_station,time_after_station,pig_before_station,pig_after_station,pig_index,pig_before_index,pig_after_index
0,2020-12-04,new0412nr001,222000938219,9,8.06,8.06,0.00,2020-12-04 11:21:45,2020-12-04 11:21:58,11,...,156.0,NaN,2294.0,NaN,174.0,NaN,2.220009e+11,5,NaN,1.0
1,2020-12-04,new0412nr003,222000938217,10,19.03,19.01,0.02,2020-12-04 11:24:34,2020-12-04 11:25:14,11,...,NaN,NaN,163.0,NaN,72.0,NaN,2.220009e+11,9,NaN,4.0
2,2020-12-04,new0412nr004,222000938133,9,8.05,8.05,0.01,2020-12-04 11:24:52,2020-12-04 11:25:18,11,...,68.0,NaN,4934.0,174.0,131.0,2.220009e+11,2.220009e+11,1,5.0,1.0
3,2020-12-04,new0412nr006,222000938090,10,19.01,19.01,0.00,2020-12-04 11:26:26,2020-12-04 11:26:56,11,...,33.0,NaN,2909.0,72.0,61.0,2.220009e+11,2.220009e+11,4,9.0,9.0
4,2020-12-04,new0412nr007,222000937883,9,8.02,8.02,0.00,2020-12-04 11:27:29,2020-12-04 11:27:31,11,...,26.0,NaN,439.0,131.0,439.0,2.220009e+11,2.220009e+11,1,1.0,1.0

In [3]:
pigs_data = pd.read_csv(r"C:\Users\sarah\OneDrive - KU Leuven\Desktop\Data Visualization\Project\data\Exp1 - Pig registration all info combined.csv")
pigs_data.head()

,pig,experiment,compartment,pen,gender,bodyw_start,station,pig_index,bodyw_end
0,222000938070,1,A.1,A2.1,barrow,31.0,1,0,114.0
1,222000938175,1,A.1,A2.1,barrow,28.5,1,1,105.0
2,222000938181,1,A.1,A2.1,barrow,27.0,1,2,108.0
3,222000938196,1,A.1,A2.1,barrow,25.5,1,3,113.0
4,222000938228,1,A.1,A2.1,barrow,31.0,1,4,109.0

In [ ]:
# Ensure date, start and end columns are in datetime format
feeding_data['date'] = pd.to_datetime(feeding_data['date'])
feeding_data['start'] = pd.to_datetime(feeding_data['start'])
feeding_data['end'] = pd.to_datetime(feeding_data['end'])

In [ ]:
# Create stations dictionary (contains the pig index and the pig number for each station)
stations = {}

# Group the data by station
grouped_data = feeding_data.groupby('station')

# Fill stations dictionary
for station, group in grouped_data:
    subdictionary = dict(zip(group['pig_index'], group['pig']))
    stations[station - 1] = subdictionary

{0: {2: 222000938181,
  10: 222000938311,
  3: 222000938196,
  4: 222000938228,
  0: 222000938070,
  1: 222000938175,
  8: 222000938286,
  9: 222000938299,
  5: 222000938229,
  6: 222000938265,
  7: 222000938282},
 1: {3: 222000937905,
  9: 222000938262,
  4: 222000937908,
  10: 222000938263,
  5: 222000938188,
  7: 222000938255,
  2: 222000937891,
  8: 222000938256,
  0: 222000937880,
  6: 222000938238,
  1: 222000937882},
 2: {5: 222000938219,
  4: 222000938189,
  10: 222000938317,
  6: 222000938259,
  7: 222000938276,
  2: 222000938154,
  1: 222000938133,
  8: 222000938278,
  0: 222000938014,
  3: 222000938184,
  9: 222000938292},
 3: {5: 222000938095,
  4: 222000937976,
  10: 222000938324,
  0: 222000937869,
  9: 222000938281,
  8: 222000938266,
  1: 222000937870,
  2: 222000937874,
  3: 222000937903,
  6: 222000938102,
  7: 222000938194},
 4: {3: 222000937967,
  4: 222000937971,
  8: 222000938062,
  7: 222000938001,
  2: 222000937928,
  10: 222000938247,
  0: 222000937877,
  1: 222000937926,
  9: 222000938087,
  6: 222000937986,
  5: 222000937974},
 5: {6: 222000938249,
  0: 222000937980,
  8: 222000938284,
  3: 222000938190,
  2: 222000938086,
  5: 222000938226,
  1: 222000938010,
  10: 222000938322,
  7: 222000938269,
  4: 222000938209,
  9: 222000938320},
 6: {0: 222000937886,
  3: 222000938094,
  5: 222000938191,
  9: 222000938314,
  4: 222000938122,
  10: 222000938325,
  6: 222000938251,
  8: 222000938302,
  1: 222000937915,
  2: 222000937963,
  7: 222000938283},
 7: {1: 222000937883,
  7: 222000938115,
  3: 222000937906,
  6: 222000938003,
  10: 222000938293,
  9: 222000938274,
  8: 222000938183,
  4: 222000937932,
  2: 222000937890,
  0: 222000937876,
  5: 222000937968},
 8: {5: 222000938160,
  1: 222000937912,
  7: 222000938240,
  8: 222000938267,
  6: 222000938163,
  3: 222000937946,
  0: 222000937872,
  9: 222000938270,
  4: 222000937965,
  10: 222000938297,
  2: 222000937934},
 9: {9: 222000938217,
  4: 222000938090,
  6: 222000938152,
  10: 222000938264,
  0: 222000937865,
  3: 222000938031,
  5: 222000938147,
  7: 222000938171,
  8: 222000938216,
  2: 222000938000,
  1: 222000937972}}

In [86]:
# Filter the data for a specific date
filtered_data = feeding_data[feeding_data['date'] == '2021-03-07']

# Create dictionaries for this specific date
intake = {}
relations = {}

# Group the filtered data by station
grouped_data = filtered_data.groupby('station')

# Fill intake dictionary
for station in range(10):
    intake[station] = {}
    for pig_index in range(11):
        subset = filtered_data[
            (filtered_data['station'] == station + 1) &
            (filtered_data['pig_index'] == pig_index)]
        if not subset.empty:
            pig = int(subset['pig'].values[0])
            total_intake = round(float(subset['tot_intake_day_pig'].values[0]), 2)
        else:
            pig = int(filtered_data[(filtered_data['pig_index'] == pig_index)]['pig'].values[0])
            total_intake = 0.0  
        intake[station][pig_index] = {'pig': pig, 'tot_intake_day_pig': total_intake}

# Fill relations dictionary
for station in range(10):
    relations[station] = {}
    index = 0
    for pig_index in range(11):
        for count_index in range(pig_index + 1, 11):
            total_count = filtered_data[
                (filtered_data['station'] == station + 1) &
                (filtered_data['pig_index'] == pig_index) &
                ((filtered_data['pig_before_index'] == count_index) | (filtered_data['pig_after_index'] == count_index))
            ].shape[0]
            relations[station][index] = total_count
            index += 1

In [ ]:
for station in range(10):
    intake[station] = {}
    for pig_index in range(11):
        subset = filtered_data[
            (filtered_data['station'] == station + 1) &
            (filtered_data['pig_index'] == pig_index)
        ]
        if not subset.empty:
            pig = subset['pig'].values[0]
            total_intake = subset['tot_intake_day_pig'].values[0]
            intake[station][pig_index] = {
                'pig': pig,
                'tot_intake_day_pig': total_intake
            }

In [82]:
relations[0]

{0: 2,
 1: 10,
 2: 4,
 3: 11,
 4: 1,
 5: 0,
 6: 0,
 7: 0,
 8: 3,
 9: 14,
 10: 3,
 11: 2,
 12: 3,
 13: 0,
 14: 0,
 15: 0,
 16: 1,
 17: 3,
 18: 6,
 19: 3,
 20: 9,
 21: 2,
 22: 0,
 23: 0,
 24: 2,
 25: 3,
 26: 8,
 27: 3,
 28: 0,
 29: 0,
 30: 0,
 31: 3,
 32: 1,
 33: 2,
 34: 2,
 35: 0,
 36: 0,
 37: 0,
 38: 3,
 39: 5,
 40: 0,
 41: 0,
 42: 1,
 43: 0,
 44: 2,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 4,
 54: 2}

In [ ]:
# Fill intake dictionary
for station, group in grouped_data:
    subdictionary = {}
    for _, row in group.iterrows():
        subdictionary[row['pig_index']] = {
            'pig': row['pig'],
            'tot_intake_day_pig': round(row['tot_intake_day_pig'], 2)
        }
    intake[station - 1] = subdictionary

In [85]:
relations[0]

{0: 2,
 1: 10,
 2: 4,
 3: 11,
 4: 1,
 5: 0,
 6: 0,
 7: 0,
 8: 3,
 9: 14,
 10: 3,
 11: 2,
 12: 3,
 13: 0,
 14: 0,
 15: 0,
 16: 1,
 17: 3,
 18: 6,
 19: 3,
 20: 9,
 21: 2,
 22: 0,
 23: 0,
 24: 2,
 25: 3,
 26: 8,
 27: 3,
 28: 0,
 29: 0,
 30: 0,
 31: 3,
 32: 1,
 33: 2,
 34: 2,
 35: 0,
 36: 0,
 37: 0,
 38: 3,
 39: 5,
 40: 0,
 41: 0,
 42: 1,
 43: 0,
 44: 2,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 4,
 54: 2}

In [87]:
# Get the minimum and maximum values of the 'tot_intake_day_pig' column
min_intake = feeding_data['tot_intake_day_pig'].min()
max_intake = feeding_data['tot_intake_day_pig'].max()

# Print the results
print(f"Minimum value of 'tot_intake_day_pig': {min_intake}")
print(f"Maximum value of 'tot_intake_day_pig': {max_intake}")

# Initialize variables to store the minimum and maximum values
min_relation = float('inf')
max_relation = float('-inf')

# Iterate through the relations_indexed dictionary to find the min and max values
for station in relations:
    for pig_index in relations[station]:
        value = relations[station][pig_index]
        if value < min_relation:
            min_relation = value
        if value > max_relation:
            max_relation = value

# Print the minimum and maximum values
print(f"Minimum value in relations: {min_relation}")
print(f"Maximum value in relations: {max_relation}")

def scale_value(value, min_value, max_value, new_min, new_max):
    """
    Scales a value from its original range to a new range.
    
    Parameters:
    value (float): The value to be scaled.
    min_value (float): The minimum value of the original range.
    max_value (float): The maximum value of the original range.
    new_min (float): The minimum value of the new range.
    new_max (float): The maximum value of the new range.
    
    Returns:
    float: The scaled value.
    """
    return ((value - min_value) / (max_value - min_value)) * (new_min - new_max) + new_max

Minimum value of 'tot_intake_day_pig': 0.0
Maximum value of 'tot_intake_day_pig': 6.52
Minimum value in relations: 0
Maximum value in relations: 18